.ad {
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.container > * {
  max-width: 100%;
}

.ad > div,
.ad iframe {
  background-color: #f5f5f5;
  max-width: 100%;
}
