@import '../variables.css';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.postList {
  box-sizing: border-box;
  margin-top: var(--header-size);
  padding-top: 5px;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
}

.postList a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

/* Styles for first post */

.firstPost {
  box-sizing: border-box;
  min-height: 10vh;
  height: 55vh;
  margin-bottom: 5px;
  background-color: var(--post-item-bg);
  color: var(--post-item-color);
  box-shadow: 0 0 3px 0 var(--shadow-color);
  position: relative;
}

.firstPostImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.firstPostInfo {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 20%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
}

.firstPostTitle {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.firstPostAuthor {
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: #DDD;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline-block;
}

.firstShareButton {
  position: absolute;
  right: 0;
  top: 10px;
  color: #FFF;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

/* Styles for normal post */

.normalPost {
  box-sizing: border-box;
  min-height: 10vh;
  height: 20vh;
  margin-bottom: 5px;
  background-color: var(--post-item-bg);
  color: var(--post-item-color);
  box-shadow: 0 0 3px 0 var(--shadow-color);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.normalPostImage {
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: center;
}

.normalPostImage img {
  width: 100%;
}

.normalPostInfo {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

.normalPostTitle {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.3rem;
}

.normalPostAuthor {
  display: inline-block;
  font-weight: 300;
  padding: 10px;
  padding-top: 0;
  color: #666;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.normalShareButton {
  position: absolute;
  right: 0;
  top: 10px;
  color: #FFF;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

/* Styles for alternative post */

.altPost {
  box-sizing: border-box;
  min-height: 40vh;
  margin-bottom: 5px;
  background-color: var(--post-item-bg);
  color: var(--post-item-color);
  box-shadow: 0 0 3px 0 var(--shadow-color);
  position: relative;
}

.altPostImage {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.altPostInfo {
  box-sizing: border-box;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.altPostTitle {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.altPostAuthor {
  font-weight: 300;
  padding: 10px;
  padding-top: 0;
  color: #666;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline-block;
}

.altShareButton {
  position: absolute;
  right: 0;
  top: 10px;
  color: #FFF;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
