@import '../variables.css';

.header {
  box-sizing: border-box;
  height: var(--header-size);
  width: 100%;
  color: var(--header-dark);
  background-color: var(--header-light);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: color var(--header-transition) ease, background-color var(--header-transition) ease;
}

.headerOnPost {
  height: var(--title-size);
  color: var(--header-light);
  background-color: rgba(0, 0, 0, 0.3);
}

.titleBar {
  box-sizing: border-box;
  height: var(--title-size);
  width: 100%;
  display: flex;
}

.titleCloseButton {
  box-sizing: border-box;
  height: var(--title-size);
  width: var(--title-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  padding-right: 12px;
  z-index: 100;
}

.logo {
  box-sizing: border-box;
  width: calc(100% - (2 * var(--title-size)));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a {
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--logo-size);
  color: inherit !important;
  z-index: 1;
}

.navBar {
  z-index: 1;
  height: var(--navbar-size);
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.navBar::-webkit-scrollbar {
  display: none;
}

.navBarOnPost {
  background-color: transparent;
  height: 0;
  opacity: 0;
  border: none;
}

.navBar > ul {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navBarItem {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  color: var(--header-grey);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  border-bottom: var(--border-size) solid rgba(153, 153, 153, 0);
}

.navBarItem > a {
  color: inherit !important;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 17px;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
}

.navBarItemActive {
  font-weight: 400;
  color: var(--header-dark);
  border-bottom: var(--border-size) solid var(--header-dark);
}

.menu::-webkit-scrollbar {
  display: none;
}

.menuButton {
  box-sizing: border-box;
  height: var(--title-size);
  width: var(--title-size);
  padding: 12px;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLogo {
  box-sizing: border-box;
  position: fixed;
  background-color: var(--header-light);
  width: 300px;
  padding-left: var(--menu-padding-left);
  top: 0;
  height: var(--title-size);
  line-height: var(--title-size);
  font-size: var(--logo-size);
  color: var(--header-dark);
}

.menuCloseButton {
  box-sizing: border-box;
  color: var(--header-dark);
  width: var(--title-size) !important;
  height: var(--title-size) !important;
  top: 0 !important;
  right: 0 !important;
  padding: 12px;
}

.menuList {
  background-color: var(--header-light);
  margin: 0;
  padding: 0;
  padding-top: var(--title-size);
  border: none;
  box-sizing: border-box;
  min-height: 100%;
  height: auto !important;
}

.menuItem {
  box-sizing: border-box;
  height: var(--title-size);
  color: var(--header-grey) !important;
  padding: 10px;
  padding-left: var(--menu-padding-left);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemActive {
  color: var(--header-dark) !important;
  font-weight: bold;
  border-left: 3px solid var(--header-dark);
}

.slider {
  z-index: 1;
  box-sizing: border-box;
  width: calc(100% - var(--title-size));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsContainer {
  position: relative;
  width: 70px;
  height: 100%;
}

.point {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 1px solid var(--header-light);
  background: transparent;
  position: absolute;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  border-radius: 50%;
  top: calc(50% - 4px);
}

.point1,
.point2 {
  left: 5px;
  background: transparent;
}

.point3 {
  left: 30px;
  background: var(--header-light);
}

.point4 {
  left: 55px;
}

@keyframes reveal-left {
  0% {
    transform: scale(0.001);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-left {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.001);
  }
}

@keyframes slide-left-point2 {
  0% {
    background: var(--header-light);
  }
  100% {
    transform: translateX(25px);
    background: var(--header-light);
  }
}

@keyframes slide-left-point3 {
  from {
    background: transparent;
  }
  to {
    transform: translateX(25px);
    background: transparent;
  }
}

.animate-left > .point1 {
  animation-name: reveal-left;
  animation-fill-mode: forwards;
}

.animate-left > .point2 {
  animation-name: slide-left-point2;
}

.animate-left > .point3 {
  animation-name: slide-left-point3;
}

.animate-left > .point4 {
  animation-name: fade-left;
}

@keyframes reveal-right {
  0% {
    transform: scale(0.001) rotate(-45deg);
    z-index: -1;
  }
  100% {
    transform: scale(1) rotate(-135deg);
    z-index: -1;
  }
}

@keyframes fade-right {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.001);
  }
}

@keyframes slide-right-point2 {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-point3 {
  from {
    transform: translateX(25px);
  }
  to {
    transform: translateX(0);
  }
}

.animate-right > .point1 {
  animation-name: fade-right;
  animation-fill-mode: forwards;
}

.animate-right > .point2 {
  animation-name: slide-right-point2;
}

.animate-right > .point3 {
  animation-name: slide-right-point3;
}

.animate-right > .point4 {
  animation-name: reveal-right;
}
