@import '../variables.css';

.header {
  box-sizing: border-box;
  height: var(--header-size);
  width: 100%;
  color: var(--header-dark);
  background-color: var(--header-light);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: color var(--header-transition) ease, background-color var(--header-transition) ease;
}

.headerOnPost {
  height: var(--title-size);
  color: var(--header-light);
  background-color: rgba(0, 0, 0, 0.3);
}

.titleBar {
  box-sizing: border-box;
  height: var(--title-size);
  width: 100%;
  display: flex;
}

.titleCloseButton {
  box-sizing: border-box;
  height: var(--title-size);
  width: var(--title-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  padding-right: 12px;
  z-index: 100;
}

.logo {
  box-sizing: border-box;
  width: calc(100% - (2 * var(--title-size)));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a {
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--logo-size);
  color: var(--header-dark) !important;
  z-index: 1;
}

.navBar {
  z-index: 1;
  height: var(--navbar-size);
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.navBarOnPost {
  background-color: transparent;
  height: 0;
  opacity: 0;
  border: none;
}

.navBar::-webkit-scrollbar {
  display: none;
}

.navBar > ul {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navBarItem {
  box-sizing: border-box;
  height: 100%;
  color: var(--header-grey);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  border-bottom: var(--border-size) solid rgba(153, 153, 153, 0);
}

.navBarItem > a, .navBarItem > div > a {
  color: inherit !important;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 17px;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
}

.navBarItemActive {
  font-weight: 400;
  color: var(--header-dark);
  border-bottom: var(--border-size) solid var(--header-dark);
}

.slidePoints {
  z-index: 1;
  box-sizing: border-box;
  width: calc(100% - var(--title-size));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menuButton {
  box-sizing: border-box;
  height: var(--title-size);
  width: var(--title-size);
  padding: 12px;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLogo {
  box-sizing: border-box;
  position: fixed;
  background-color: var(--header-light);
  width: 300px;
  padding-left: var(--menu-padding-left);
  top: 0;
  height: var(--title-size);
  line-height: var(--title-size);
  font-size: var(--logo-size);
  color: var(--header-dark);
}

.menuCloseButton {
  box-sizing: border-box;
  color: var(--header-dark);
  width: var(--title-size) !important;
  height: var(--title-size) !important;
  top: 0 !important;
  right: 0 !important;
  padding: 12px;
}

.menuList {
  background-color: var(--header-light);
  margin: 0;
  padding: 0;
  padding-top: var(--title-size);
  border: none;
  box-sizing: border-box;
  min-height: 100%;
  height: auto !important;
}

.menuItem, .menuItem > div {
  box-sizing: border-box;
  height: var(--title-size);
  color: var(--header-grey) !important;
  padding: 10px;
  padding-left: var(--menu-padding-left);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.menuItemActive {
  color: var(--header-dark) !important;
  font-weight: bold;
  border-left: 3px solid var(--header-dark);
}
