@import '../variables.css';

body {
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  box-sizing: border-box;
  height: 100vh;
}

.page {
  box-sizing: border-box;
  background-color: var(--post-light);
  color: var(--post-dark);
  padding-top: var(--header-size);
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.page a {
  text-decoration: none;
  color: inherit;
}
