.commentsContainer {
  padding-top: 10px;
}

.button {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background: white !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  color: #535353;
}

.comments {
  border-top: 1px solid #ddd;
  display: none;
  opacity: 0;
  transition: all 300ms;
}

.comments > div {
  padding: 20px;
}

.active .comments {
  opacity: 1;
  display: block;
}

.icon {
  position: relative;
  display: block;
}

.arrow.icon {
  transition: transform 300ms;
}

.active .arrow.icon {
  transform: rotate(180deg);
}
