:root {
  /* General */
  --shadow-color: #999;

  /* Header */
  --title-size: 60px;
  --navbar-size: 30px;
  --header-size: calc(var(--title-size) + var(--navbar-size));
  --border-size: 2px;
  --header-light: #FFF;
  --header-grey: #999;
  --header-dark: #333;
  --menu-padding-left: 20px;
  --header-transition: 0.3s;
  --logo-size: 1.3rem;

  /* PostList Item */
  --postlist-light: #FFF;
  --postlist-grey: #AAA;
  --postlist-dark: #333;

  /* Post Content */
  --post-light: #FFF;
  --post-grey: #777;
  --post-dark: #333;
  --post-link: steelblue;

  /* Brand colors */
  --color-facebook: #3b589e;
  --color-twitter: #55acee;
  --color-whatsapp: #24c34b;
  --color-telegram: #0088cc;
  --color-flipboard: #e12828;
  --color-linkedin: #0077b5;
  --color-pinterest: #cb2027;
  --color-reddit: #5f99cf;
  --color-stumble: #eb4924;
  --color-google: #db4437;
  --color-vk: #567ca4;
  --color-ok: #f58220;
  --color-email: #8fa9ba;
  --color-others: #006ca0;

  /* Share Modal */
  --short-transition: 150ms;

  /* Share Bar */
  --share-bar-height: 52px;
  --share-bar-padding: 6px;
  --share-bar-button-size: 40px;
  --share-bar-button-margin-right: 2px;
  --share-bar-next-button-padding: 4px;
  --share-bar-next-button-color: #bdbdbd;
}
