@import '../variables.css';

.shareBar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: var(--share-bar-height);
  padding: var(--share-bar-padding);
  background: white;
  border-top: rgba(220, 220, 220, .75) solid 1px;
}

.button {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-right: var(--share-bar-button-margin-right);
  background: none;
}

.button.email,
.button.others {
  width: var(--share-bar-button-size);
  height: var(--share-bar-button-size);
  box-sizing: border-box;
  border-radius: calc(var(--share-bar-button-size)/2);
}
.button.email {
  background: var(--color-email);
}
.button.others {
  background: var(--color-others);
}

.nextPost {
  flex: 10 1 auto;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: var(--share-bar-next-button-padding);
  border-radius: 4px;
  background: var(--share-bar-next-button-color);
  font-weight: 600;
}

.nextPost > div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextPost > div > span {
  padding-left: 5px;
  font-size: 0.9em;
}

.nextPost > div > svg {
  height: 1em;
  width: 1em;
  padding-bottom: 1px;
  padding-left: 2px;
}

.nextPost:focus {
  outline: none;
}
