
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/favicon.png">
</head>
<body>
<% if (htmlWebpackPlugin.options.window) { %>
  <script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
      window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
    <% } %>
  </script>
<% } %>
<div id="root"></div>
<script src="<%= htmlWebpackPlugin.options.vendorsFile %>"></script>
<script src="/bundle.js"></script>
<script src="<%= htmlWebpackPlugin.options.coreFile %>"></script>
</body>
</html>
