.lazyImg {
  position: relative;
  box-sizing: border-box;
}

.lazyImg > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lazyImg.withRatio > div {
  position: absolute;
  top: 0;

}

.lazyImg img {
  z-index: 1;
  margin: 0 auto;
}

.icon {
  position: absolute;
  top: 0;
  color: #bdbdbd;
}
