@import '../variables.css';

body {
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  box-sizing: border-box;
  height: 100vh;
}

.postItem {
  box-sizing: border-box;
  background-color: var(--post-light);
  color: var(--post-dark);
  padding-top: var(--title-size);
  padding-bottom: var(--share-bar-height);
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.postItem a {
  text-decoration: none;
  color: inherit;
}

.postMedia {
  height: 55vh;
  width: 100%;
  position: relative;
}

.postTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postTitle > div {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #ddd;
}

.author {
  font-weight: 300;
  padding: 5px 15px;
  color: var(--post-grey);
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.date {
  font-weight: 300;
  margin: 0;
  padding: 5px 15px;
  color: var(--post-grey);
  font-size: 0.9rem;
  text-align: right;
}

.readingTime {
  margin: 0;
  padding: 5px 15px;
  color: var(--post-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.readingTime > span {
  font-weight: 300;
  font-size: 0.9rem;
  padding-left: 5px;
}

.totalShares {
  margin: 0;
  padding: 5px 15px;
  color: var(--post-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.totalShares > span {
  font-weight: 300;
  font-size: 0.9rem;
  padding-left: 5px;
  opacity: 0;
  transition: opacity 300ms;
}

.totalShares.ready > span {
  font-weight: 300;
  font-size: 0.9rem;
  padding-left: 5px;
  opacity: 1;
}


.postFooter {
  box-sizing: border-box;
  margin: 0 10px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 3px;
}

.category {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  margin: 5px;
  background-color: rgba(70, 130, 180, 0.8);
  color: var(--post-light);
  box-shadow: 1px 1px 1px 0 var(--shadow-color);
}

.category > a {
  white-space: nowrap;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.noImage {
  height: var(--title-size);
}

.hyphen {
  hyphens: auto;
  /*text-align: justify;*/
  padding-bottom: 15px;
}
